.bundle
tmp/
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
.yardoc/
public/assets/
.DS_Store
*.swp
*.swo
*.sublime-workspace
.rvmrc
vendor/ruby
doc/wiki_repo
solr/data/
solr/pids/
tags
chromedriver.log
.idea/
spec/examples.txt
.vagrant
.byebug_history

# Ignore files compiled by webpacker.
public/packs/*
/vendor/node_modules/*
